name: 'build image and publish release'
on:
  push:
    branches:
      - "master"
    paths-ignore:
      - '.github/**'
jobs:
  createRelease:
    runs-on: 'ubuntu-24.04'
    permissions:
      contents: 'write'
      packages: 'write'
    steps:
      - name: 'checkout code'
        uses: 'actions/checkout@v5.0.0'
      - name: 'install mdq'
        shell: 'bash'
        run: |
          #!/usr/bin/env bash
          set -euo pipefail

          curl -LO https://github.com/yshavit/mdq/releases/download/v0.9.0/mdq-linux-x64.tar.gz
          tar -xf mdq-linux-x64.tar.gz
          rm mdq-linux-x64.tar.gz
      - name: 'populate env vars'
        shell: 'bash'
        run: |
          #!/usr/bin/env bash
          set -euo pipefail

          GIT_TAG="$(./mdq -o json "#" CHANGELOG.md | jq -r .items[0].section.body[0].section.title)"
          GIT_COMMIT="$(git rev-parse HEAD)"
          echo "GIT_TAG=${GIT_TAG}" >> "$GITHUB_ENV"
          echo "GIT_COMMIT=${GIT_COMMIT}" >> "$GITHUB_ENV"
      - name: 'validate env vars'
        shell: 'bash'
        run: |
          #!/usr/bin/env bash
          set -euo pipefail

          if [[ ! "${GIT_TAG}" =~ ^(0|[1-9]+)\.(0|[1-9]+)\.(0|[1-9]+)$ ]]; then
            echo "Invalid version format: ${GIT_TAG} does not match pattern vX.Y.Z"
            echo 'Examples:'
            echo -e "  valid:\t0.0.1"
            echo -e "  invalid:\t00.0.1"
            echo -e "  invalid:\t01.0.1"
            echo -e "  valid:\t1.0.1"
            echo 'Please check the CHANGELOG.md for a valid version heading'
            exit 1
          fi

          if git tag --list "${GIT_TAG}" | grep -q "${GIT_TAG}";then
            echo "A Git tag already exists for the version ${GIT_TAG} found in the CHANGELOG.md"
            exit 1
          fi
      - name: 'setup go'
        uses: 'actions/setup-go@v6.0.0'
        with:
          go-version: "${{ env.GO_VERSION }}"
      - name: 'container registry login'
        uses: 'docker/login-action@v3.6.0'
        with:
          password: "${{ secrets.GITHUB_TOKEN }}"
          registry: 'ghcr.io'
          username: "${{ github.actor }}"
      - name: 'fetch metadata for the image build'
        id: 'meta'
        uses: 'docker/metadata-action@v5.8.0'
        with:
          images: "ghcr.io/${{ github.repository }}"
          tags: |
            type=raw,value=${{ env.GIT_TAG }}
            type=raw,value=release
            type=raw,value=latest
      - name: 'build and push image'
        uses: 'docker/build-push-action@v6.18.0'
        with:
          context: '.'
          build-args: "BUILDER_VERSION=${{ env.GO_VERSION }}-bookworm"
          labels: "${{ steps.meta.outputs.labels }}"
          tags: "${{ steps.meta.outputs.tags }}"
          platforms: 'linux/amd64'
          push: true
      - name: 'maintain changelog'
        shell: 'bash'
        run: |
          #!/usr/bin/env bash
          set -euo pipefail

          ./mdq "# ${GIT_TAG}" CHANGELOG.md >changeLogForRelease.md
          echo '- `docker pull ghcr.io/sapcc/concourse-netbox-resource:${{ env.GIT_TAG }}`' >>changeLogForRelease.md
          ./mdq "# ${GIT_TAG}" changeLogForRelease.md
      - name: 'create release'
        uses: 'ncipollo/release-action@v1.20.0'
        with:
          name: concourse-netbox-resource-${{ env.GIT_TAG }}
          bodyFile: 'changeLogForRelease.md'
          makeLatest: "legacy"
          tag: "${{ env.GIT_TAG }}"
          skipIfReleaseExists: true
          allowUpdates: true
          updateOnlyUnreleased: true
      - name: 'create tag'
        shell: 'bash'
        run: |
          #!/usr/bin/env bash
          set -euo pipefail

          git config --local user.email "workflow@github.local"
          git config --local user.name "workflow"
          git tag -a "${GIT_TAG}" -m "Release v${{ github.run_number }}"
          git tag --annotate "${GIT_TAG}" --message="$(mdq "# ${GIT_TAG}" CHANGELOG.md)"
          git push origin "${GIT_TAG}"
